#playfield
{
  position:absolute;
  top:30px;
  left:200px;
  background-color: #aaffaa;
}

a.active
{
  font-weight:bold;
}

div.slider
{
  width:160px;
}

button
{
  cursor:pointer;
}

#wpedit
{
  width:200px;
}

.color-picker
{
  width:100px;
}

.x,.y
{
  width:30px;
}
.t
{
  width:40px;
}
